@import "tailwindcss";

@theme {
  --color-chartreuse: #E0FF4F;
  --color-gunmetal: #00272B;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
